{# Return string or table of strings #}
{% macro string_table(input) -%}
{%- if input is string -%}
'{{ input|string }}'
{%- elif input is iterable -%}
{
{%- for item in input -%}
'{{ item|string }}',
{%- endfor -%}
}
{%- else-%}
'{{ input|string }}'
{%- endif -%}
{%- endmacro %}

{# Return str2ip or table of str2ip #}
{% macro str2ip_table(input) -%}
{%- if input is string -%}
kres.str2ip('{{ input|string }}')
{%- elif input is iterable -%}
{
{%- for item in input -%}
kres.str2ip('{{ item|string }}'),
{%- endfor -%}
}
{%- else-%}
kres.str2ip('{{ input|string }}')
{%- endif -%}
{%- endmacro %}

{# Return qtype or table of qtype #}
{% macro qtype_table(input) -%}
{%- if input is string -%}
kres.type.{{ input|string }}
{%- elif input is iterable -%}
{
{%- for item in input -%}
kres.type.{{ item|string }},
{%- endfor -%}
}
{%- else-%}
kres.type.{{ input|string }}
{%- endif -%}
{%- endmacro %}

{# Return server address or table of server addresses #}
{% macro servers_table(input) -%}
{%- if input is string -%}
'{{ input|string }}'
{%- elif input is iterable -%}
{
{%- for item in input -%}
{%- if item.address -%}
'{{ item.address|string }}',
{%- else -%}
'{{ item|string }}',
{%- endif -%}
{%- endfor -%}
}
{%- else-%}
'{{ input|string }}'
{%- endif -%}
{%- endmacro %}

{# Return server address or table of server addresses #}
{% macro tls_servers_table(input) -%}
{
{%- for item in input -%}
{%- if item.address -%}
{'{{ item.address|string }}',{{ tls_server_auth(item) }}},
{%- else -%}
'{{ item|string }}',
{%- endif -%}
{%- endfor -%}
}
{%- endmacro %}

{% macro tls_server_auth(input) -%}
{%- if input.hostname -%}
hostname='{{ input.hostname|string }}',
{%- endif -%}
{%- if input.ca_file -%}
ca_file='{{ input.ca_file|string }}',
{%- endif -%}
{%- if input.pin_sha256 -%}
pin_sha256=
{%- if input.pin_sha256 is string -%}
'{{ input.pin_sha256|string }}',
{%- elif input.pin_sha256 is iterable -%}
{
{%- for pin in input.pin_sha256 -%}
'{{ pin|string }}',
{%- endfor -%}
}
{%- else -%}
'{{ input.pin_sha256|string }}',
{%- endif -%}
{%- endif -%}
{%- endmacro %}
